@model Odev2.Models.Employee

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName(@Model.LastName)
            </th>
            <th>
                @Html.DisplayName(@Model.FirstName)
            </th>
            <th>
                @Html.DisplayName(@Model.Title)
            </th>
            <th>
                @Html.DisplayName(@Model.TitleOfCourtesy)
            </th>
            <th>
                @Html.DisplayName(@Model.BirthDate.Value.Date.ToString())
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.Display(@Model.LastName)
            </td>
            <td>
                @Html.Display(@Model.FirstName)
            </td>
            <td>
                @Html.Display(@Model.Title)
            </td>
            <td>
                @Html.Display(@Model.TitleOfCourtesy)
            </td>
            <td>
                @Html.TextBoxFor(a=>a.BirthDate, htmlAttributes:new{ type="date"})
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.EmployeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.EmployeeId">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
